body, css {
    margin: 0;
    padding: 0;
    background-image: url(./src/Cat-Background-Free-Image.jpeg);
    text-align: center;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body * {
    margin: 1em;
    padding: 0;
    list-style: none;
  }
  
  section {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
  
  #factzListed {
    display: block;
  }
  